@using CalibreLib.Models.Metadata
@using CalibreLib.Views.Shared.Components
@model Series

@{
    var filterType = EFilterType.Series;
}

@{
    if (Model != null)
    {
        <script>
            series = @Model.Id;
        </script>

        <h2>Series: @Model.Name</h2>
        <div id="main-container" class="container-fluid">
            @await Html.PartialAsync("~/Views/Shared/Components/BookCardGrid.cshtml", new List<BookCardModel>())
        </div>
    }
    else
    {
        <script>
            currentPageType = 'Series';
        </script>
        <div class="col-sm-10">
            @await Component.InvokeAsync(typeof(ToolbarComponent), new { type = filterType })
            <div id="listViewComponent">
                @await Component.InvokeAsync(typeof(ListViewComponent), new { type = filterType })
            </div>
        </div>
    }
}
