pr: none

trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - azure-pipelines.yml

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildConfiguration: 'Release'
  dotnetSdkVersion: '10.0.101'

steps:
- task: UseDotNet@2
  displayName: 'Install .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '$(dotnetSdkVersion)'

- script: dotnet --info
  displayName: 'dotnet --info'

- script: dotnet restore "$(solution)"
  displayName: 'dotnet restore'

- script: dotnet list package --include-transitive
  displayName: 'dotnet list package (with transitive)'

- script: dotnet build "$(solution)" -c $(buildConfiguration) --no-restore
  displayName: 'dotnet build solution'

- script: |
    echo "Preparing artifact staging folder..."
    mkdir -p "$(Build.ArtifactStagingDirectory)"
    echo "Publishing each project (this publishes all .csproj files found)."
    for proj in $(find . -name '*.csproj'); do
      echo "Publishing $proj"
      dotnet publish "$proj" -c $(buildConfiguration) -o "$(Build.ArtifactStagingDirectory)/$(basename "$proj" .csproj)" --no-build
    done
  displayName: 'dotnet publish all projects'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/WebApp.zip'
    replaceExistingArchive: true
  displayName: 'Create artifact zip'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Publish build artifacts'