@using CalibreLib.Models.Metadata
@using CalibreLib.Views.Shared.Components
@model Tag

@{
    if (Model != null)
    {
       <script>
            category = @Model.Id;
        </script>

        <h2>Category: @Model.Name</h2> 
    }
}
@{
    if (Model == null)
    {
        @await Component.InvokeAsync(typeof(ToolbarComponent), new { type = EFilterType.Categories })
    }
}

@{
    if (Model != null)
    {
        <div class="container-fluid">
             @{
                @await Html.PartialAsync("~/Views/Shared/Components/BookCardGrid.cshtml",new List<BookCardModel>())
            }
        </div>
    }
}
