@using CalibreLib.Models
@model IEnumerable<BookCardModel>

@{
    ViewData["Title"] = "Home Page";
}


<div id="main-container" class="container-fluid">
    @{
        @await Html.PartialAsync("~/Views/Shared/Components/BookCardGrid.cshtml", Model)
    }
</div>

