@using CalibreLib.Models
@model IEnumerable<BookCardModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
     @{
        @await Html.PartialAsync("~/Views/Shared/Components/BookCardGrid.cshtml", Model)
    }
</div>

@section Scripts {
    <script type="text/javascript" src="js/cardgrid.js"></script>
    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
            loadBooks(ajaxCallUrl);
        });

        $(window).scroll(scrollHandler);
    </script>
}