@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CalibreLib.Areas.Identity.Data.Shelf

@{
    if (ViewBag?.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">
          Success
        </div>        
    }
}

<div class="row">
    <div class="col-md-4">
        <h3>Create new shelf</h3>
        <br />
@using (Html.BeginForm("Create","Shelf", FormMethod.Post))
{
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" aria-required="true" placeholder="name" />
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button class="btn btn-primary">Submit</button>      
}
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
