@model CalibreLib.Areas.Identity.Data.Shelf

<div class="container">
    <div class="row">
        <h3>Shelf: @Model.Name</h3>
        <br />
        <form id="edit-shelf-form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" aria-required="true" placeholder="name" />
                <label asp-for="Name">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-primary" onclick="submitEditShelf(@Model.Id)">Submit</button>
        </form>
    </div>
</div>


