@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CalibreLib.Areas.Identity.Data
@using CalibreLib.Views.Shared.Components
@model Shelf
@section Head 
{
    <script src="~/js/shelf.js" type="text/javascript" asp-append-version="true"></script>
}

<script>
    shelf = @Model.Id;
</script>
<h2 id="shelf-name">Shelf: @Model.Name</h2>
<div class="btn-group" role="group" aria-label="Shelf toolbar group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Download</button>
        <ul class="dropdown-menu">
            @foreach(var datum in Model.BookCards.SelectMany(x => x.Book.Data).DistinctBy(d => d.Format))
            {
                var format = datum.Format;
                var count = Model.BookCards.SelectMany(x => x.Book.Data).Where(x => x.Format == format).Count();
                
                <li><a class="dropdown-item" href="/CardGrid/DownloadShelf/?ShelfID=@Model.Id&Format=@format">@format (@count books)</a></li>
            }
        </ul>
    <a class="btn btn-danger" onclick="openDeleteModal(@Model.Id);">Delete this Shelf</a>
    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#editShelfModal" onclick="loadEditPartial(@Model.Id)">Edit Shelf</a>
</div>

<div id="main-container" class="container-fluid">
     @{
        @await Html.PartialAsync("~/Views/Shared/Components/BookCardGrid.cshtml",new List<BookCardModel>())
    }
</div>

<!-- Modal confirm delete -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete this shelf?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this shelf?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirm_no">No</button>
        <button type="button" class="btn btn-primary" id="confirm_yes">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Edit -->
<div class="modal fade" id="editShelfModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editShelfModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editShelfModalLabel">Edit Shelf</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="editModalContent">
        <!-- Partial content will be dynamically loaded into this modal -->
      </div>
    </div>
  </div>
</div>

<script>
        function submitEditShelf(shelfId) {
            let form = document.getElementById('edit-shelf-form');
            let formData = new FormData(form);

            fetch(`/Shelf/Edit/${shelfId}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    showAlert(data.message,'success');

                // Dynamically update the shelf name in Index page
                if (data.updatedName) {
                    document.querySelector("#shelf-name").textContent = `Shelf: ${data.updatedName}`;
                }

                    const modalEl = document.querySelector("#myModal");
                    const myModal = bootstrap.Modal.getOrCreateInstance(modalEl); // returns existing or creates new
                    myModal.hide();
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
</script>
